.Account {
  width: 100%;
}
.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.create {
  flex: 1.1;
}
.posts {
  flex: 2;
}
.posts__on__Account {
  transition: transform 0.5s cubic-bezier(0.44, 0.03, 0.26, 1.7);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex: 0.6;
}
.rightbar {
  flex: 0.5;
}

.signout {
  margin-left: 70%;
  margin-top: 10px;
  width: 70px;
  height: 30px;
  background: none;
  border-radius: 9px;
  border: 1px solid;
  background-color: #efefef;
  color: rgb(58, 58, 58);
  cursor: pointer;
}
.signout:hover {
  color: aliceblue;
  background-color: rgb(58, 58, 58);
  border: 1px solid rgb(58, 58, 58);
}
