.Posts {
  display: flex;
  flex-flow: row wrap;
}
.create {
  flex: 1.1;
}
.posts {
  flex: 2;
}
.posts__on__Account {
  transition: transform 0.5s cubic-bezier(0.44, 0.03, 0.26, 1.7);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex: 0.6;
}
.rightbar {
  flex: 0.5;
}
