:root {
  --white-color: aliceblue;
  --font: "Calibri";
}

.topbar {
  display: flex;
  background-color: #2b2929;

  color: var(--white-color);
  align-items: center;
  height: 60px;
}

.topbar .left__logo {
  font-weight: 700;

  margin-left: 5%;
  flex-grow: 4;
  font-size: x-large;
  font-family: var(--font);
}
.left__logo__button {
  color: var(--white-color);
  text-decoration: none;
}
.topbar .middle {
  flex-grow: 4;
  /* background-color: red; */
}
.topbar .middle .filter__button {
  color: var(--white-color);
  font-size: 21px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 5px 10px 5px 11px;
  border: 1px solid var(--white-color);
  float: right;
  border-radius: 20px;
  font-weight: bold;
  background: none;
  /* background-color: #2b2929; */
}
.topbar .middle .filter__button:hover {
  background: white;
  color: #2b2929;
  cursor: pointer;
}

.topbar .right__account {
  flex-grow: 3;

  direction: rtl;
  padding-right: 5%;
}

.Account__button {
  color: var(--white-color);
}

.theme__button {
  margin-right: 2%;
}
